*{box-sizing: border-box;}
body {
    margin: 0px;
}
.header {
    display: flex;
    margin: auto;
    max-width: 960px;
    justify-content: space-between;

}

.yourName {
    background-color: #4aaaa5;  
    color: white;
    padding: 15px;
    margin: 0px;
}
.links {
    padding:15px;
    vertical-align: middle;
}

a {
color: black;

}
