nav {
    background-color: white;
    margin 0;
    box-sizing: border-box;
    padding 0;
}

.header {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    font-size: 40px;
    justify-items: center;
    min-height: 100px;    
}
.Your-Name {
    background-color: #4aaaa5;  
    color: white;
    grid-column: 4/7;
}
.About {
    grid-column:12/13;
}
.Portfolio {
    grid-column: 13/15;
}
.Contact {
    grid-column 15/17;
}